.head{
    display: flex;

    min-height: 600px;
    width: 100%;

    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

    align-items: center;
    justify-content: space-evenly;

}


.head p {
    max-width: 385px;

    text-align: left;

    font-size: 25px;
    font-weight: 500;
}

.head p span {
    font-size: 40px;
    font-weight: 900;
}
#headerImg{
    max-width: 350px;
    min-height: 460px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 780px) {
    .head{
        margin: auto;
    }

    .head p {
        margin: auto; 
        
        font-size: 20px;
    }

    .head p span {
        margin: auto;
        font-size: 30px;
    }

    #headerImg{
        display: none;
    }
}